<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Oncenter.BackOffice.Clients.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Oncenter.BackOffice.Clients.Properties.Settings>
            <setting name="Oncenter_BackOffice_Clients_Flexera_Entitlement_EntitlementOrderService"
                serializeAs="String">
                <value>http://flex1374-uat.flexnetoperations.com/flexnet/services/EntitlementOrderService</value>
            </setting>
            <setting name="Oncenter_BackOffice_Clients_Flexera_UserOrganizationHierachy_v1_UserOrgHierarchyService"
                serializeAs="String">
                <value>http://flex1374-uat.flexnetoperations.com/flexnet/services/v1/UserOrgHierarchyService</value>
            </setting>
        </Oncenter.BackOffice.Clients.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>