<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ZuoraUserName" value="integration@oncenter.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ZuoraPassword" value="r37N3cn0&amp;!m8135" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ZuoraEnvUrl" value="https://rest.zuora.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FNOUserName" value="integration@oncenter.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FNOPassword" value="r37N3cn0&amp;!m8135" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="FNOEnvUrl" value="https://flex1374-fno.flexnetoperations.com/flexnet/services/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=oncenterazurestorage;AccountKey=0N1N/7Gxs+NrefcnoPUFmj6aA9+a1QedIrYWCQ4hCimOsY3GtvN4K+Fe2S9whOCzhzzjCqAS/1ieKylpB06e8w==;EndpointSuffix=core.windows.net" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
